[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
django-braces = "*"
crispy-bootstrap5 = "*"
python-decouple = "*"
pypdf2 = "*"
pymupdf = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
django = "*"
django-countries = "*"

[dev-packages]

[requires]
python_version = "3.12"
