{% extends 'sheetmusic/home.html' %}

{% block content %}
    {{ block.super }}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-3" id="staticBackdropLabel">Logout</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <h5> {{ username }}, are you sure you want to log out? </h5>
          </div>
          <div class="modal-footer">



              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
{#                  <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>#}
                  <button type="submit" class="btn btn-primary">Confirm</button>
{#                  <button type="button" class="btn btn-primary">Confirm</button>#}
              </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const myModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('staticBackdrop'));
        myModal.show();
      });
    </script>
{% endblock %}