{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}

    <div class="d-flex justify-content-center mt-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Registration page</h2>
                <h5 class="text-center">Hello, in order to register please compile the following forms.</h5>
            </div>
            <div class="card-body">
                <form method="post"> {% csrf_token %}

                    {{ form|crispy }}

                    <input type="submit" class="btn btn-primary mt-2" value="Create Profile">

                </form>
            </div>
            <div class="card-footer text-muted text-center">
                <br>
                <h5>Already have an account? <a href="{% url 'login' %}">Login here</a></h5>
                <br>
            </div>
        </div>
    </div><br><br><br><br>

{% endblock %}