{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}

    <div class="d-flex justify-content-center mt-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mt-1 mb-2">Profile customization</h2>
                <h5 class="text-center">This information will be shown on your profile page, please fill all the forms.</h5>
                <h5 class="text-center">Adding more information help people to be more trusty towards your works.</h5>
                <h5 class="text-center">You can always update this form later.</h5>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data"> {% csrf_token %}

                    {{ form|crispy }}

                    <input type="submit" class="btn btn-primary mt-2" value="Create Profile">

                </form>
            </div>
        </div>

    </div><br><br><br><br>
    <style>
        label[for$="-clear_id"] {
            display: none;
        }
        input[type="checkbox"][name$="-clear"] {
            display: none;
        }
    </style>

{% endblock %}