{%  extends 'base.html' %}

{% block title %} PianoBazaar - profiles {% endblock %}

{% block search_form %}
    <form id="search-form" method="get" action="/sheetmusic/profiles/" class="d-flex">
        <label>
            <input type="text" name="q" placeholder="Search..." value="{{ query }}">
        </label>
        <button id="search-button" type="submit">🔍</button>
    </form>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div id="card-container" class="d-flex flex-wrap justify-content-center">
            {% for arranger in object_list %}
                <div class="card m-2 custom-card-shadow" style="max-width: 20rem;">
                
                    
                    {% if user.is_staff and not arranger.user.is_staff or user.is_superuser%}
                        <a class="btn btn-danger custom-card-shadow" id="remove-profile-button" href="{% url 'sheetmusic:profile_delete' arranger.pk %}">✕</a>
                    {% endif %}
                
                    <div class="card-header">
                        <h4 class="card-title">@{{ arranger.user.username }}
                        
                        {% if arranger.user.is_staff %}
                            <span class="badge" style="background-color: #ff3ca7;">GM</span>
                        {% endif %}
                        
                        {% if arranger.n_sold_copies > 1 %}
                            <span class="badge" style="background-color: #ff913a;">Salesman</span>
                        {% endif %}
                    
                        {% if arranger.n_purchased_scores > 1 %}
                            <span class="badge" style="background-color: deepskyblue">Squandering</span>
                        {% endif %}
                    
                        {% if arranger.calc_likes_received > 1 %}
                            <span class="badge" style="background-color: crimson">Loved</span>
                        {% endif %}</h4>
                    
                        <h5 class="card-title"> aka {{ arranger.user.first_name }} {{ arranger.user.last_name}}</h5>
                    </div>
                    
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="img-fluid" src="{{ arranger.profile_image.url }}" alt="media/profiles/profile_imgs/profile-default.1024x1023.png" style="width: 100%; height: 16rem; object-fit: cover">
                    </div>

                    <div class="card-body">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item ps-1">
                                <p style="font-size: 1.1rem" class="card-text ms-0">Has published a total of {{ arranger.score_count }} scores.</p>
                            </li>
                            <li class="list-group-item ps-1 mb-1">
                                <p style="font-size: 1.1rem" class="card-text d-inline">Likes received: <h4 class="d-inline ms-2"> {{ arranger.calc_likes_received }}</h4>
                                <i class="fa-solid fa-heart me-4" style="font-size: 1.48rem; color: red"></i>
                            </li>
                        </ul>
                        <a href="{% url 'sheetmusic:arranger' pk=arranger.pk %}" class="btn btn-primary stretched-link">See profile</a>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div><br>
{% endblock %}

{% block modal %}
{{ block.super }}
    {% if delete_profile_modal %}
        {% if user.is_staff or user.is_superuser %}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-3" id="staticBackdropLabel">Delete Profile</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <h5> {{ user.username }}, are you sure you want to delete {{ delete_profile_name }} profile? </h5>
                      </div>
                      <div class="modal-footer">
    
                          <form action="{% url 'sheetmusic:profile_delete' profile_pk=delete_profile_pk  %}" method="post">
                              {% csrf_token %}
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-danger">Confirm</button>
                          </form>
    
                      </div>
                    </div>
                  </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const myModal = bootstrap.Modal.getOrCreateInstance(document.getElementById('staticBackdrop'));
                    myModal.show();
                  });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}




