{% extends 'sheetmusic/arranger_detail.html' %}


    
{% block selection %}
        
    <div class="row mt-3">
        <div class="col-md-12 mt-5 bg-primary text-white rounded-1">
            <ul class="pagination pagination-lg">
                        
                <li class="page-item"><a class="page-link" href="{% url 'sheetmusic:arranger' profile.pk %}" >My Sheet music</a></li>
                <li class="page-item active"><a class="page-link" href="">Liked scores</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'sheetmusic:arranger_purchased_scores' profile.pk %}">Purchased scores</a></li>
                
            </ul>
        </div>
    </div>
    
    <div id="card-container" class="d-flex flex-wrap justify-content-left mt-4 p-0">
        {% for score in profile.liked_scores.all %}
            <div class="card m-2">
                <img class="card-img-top" src="{{ score.cover.url }}" alt="{{ score.cover }}" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{ score.title }}</h4>
                    <p class="card-text">a {{ score.score_type }} by {{ score.arranger }} in {{ score.published_key }}.</p>
                    <a href="{% url 'sheetmusic:detail' pk=score.pk %}" class="btn btn-primary">See score</a>
                </div>
            </div>
        {% endfor %}
    </div>
        
{% endblock %}
