{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-2">
        <div class="row">
        <!-- Card Sinistra -->
            <div class="col-md-4">
                <div class="card m-2 custom-card-shadow" style="width:750px; position: relative; left: 20%;">
                    <img class="card-img-top" src="{{ object.cover.url }}" alt="{{ score.cover }}" style="width:100%">
                </div>
            </div>

            <!-- Descrizione Destra -->
            <div class="col-md-5 offset-md-2">
                
                <p class="h1">{{ object.title }}</p>
                <p class="h4 d-inline">by </p>
                <a id="arranger-profile-link" class="h4 d-inline link-primary" style="text-decoration: none" href="{% url 'sheetmusic:arranger' object.arranger.pk %}"> {{ object.arranger }}</a>
                <br><br>
                <p class="h3">Details</p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Price:</strong> {{ object.price }}€</li>
                    <li class="list-group-item"><strong>Scoring:</strong> {{ object.get_scoring_display }}</li>
                    <li class="list-group-item"><strong>Score Type:</strong> {{ object.get_score_type_display }}</li>
                    <li class="list-group-item"><strong>Genre:</strong> {{ object.get_genre_1_display}}{% if object.genre_2 %}, {{ object.get_genre_2_display }}{% endif %}</li>
                    <li class="list-group-item"><strong>Published Key:</strong> {{ object.published_key }}</li>
                    <li class="list-group-item"><strong>Pages:</strong> {{ object.pages }}</li>
                    <li class="list-group-item"><strong>Publication Date:</strong> {{ object.publication_date|date:"d M Y" }}</li>
                    <li class="list-group-item"><strong>Format:</strong> PDF</li>
                </ul>
            
                <div class="d-flex align-items-center mb-3 mt-3">
                
                    {% if user.is_authenticated %}
                        <a href="{% url 'sheetmusic:checkout' pk=score.arranger.pk %}" class="btn btn-primary me-2"><p class="h5 mb-1 mt-1" style="height: 23px">Buy</p></a>
                        
                        {% if object in user_profile.shopping_cart.all %}
                             <a class="btn btn-success text-white ms-4" href="{% url 'sheetmusic:add_score_to_shopping_cart' score_pk=object.pk %}">
                                <p class="h5 d-inline">Remove from Cart </p>
                                <i class="fa-solid fa-cart-shopping d-inline" style="font-size: 1.8rem; color: white"></i>
                             </a>
                            {% else %}
                            <a class="btn btn-success text-white ms-4" href="{% url 'sheetmusic:add_score_to_shopping_cart' score_pk=object.pk %}">
                                <p class="h5 d-inline">Add to cart </p>
                                <i class="fa-solid fa-cart-shopping d-inline" style="font-size: 1.8rem; color: white"></i>
                             </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}?next=/sheetmusic/detail/{{ object.pk }}" class="btn btn-primary me-2"><p class="h5 mb-1 mt-1" style="height: 23px">Buy</p></a>
                        
                        <a class="btn btn-success text-white ms-4" href="{% url 'sheetmusic:add_score_to_shopping_cart' score_pk=object.pk %}">
                            <p class="h5 d-inline">Add to cart </p>
                            <i class="fa-solid fa-cart-shopping d-inline" style="font-size: 1.8rem; color: white"></i>
                        </a>
                    {% endif %}
                
                </div>
            
                <!-- Video -->
                {% if score.youtube_video_link %}
                    <div class="ratio ratio-16x9 mb-3">
                        <iframe class="embed-responsive-item" 
                                src="https://www.youtube.com/embed/{{ score.get_youtube_video_id_from_link }}" 
                                allowfullscreen>
                        </iframe>
                    </div>
                {% else %}
                    <p>The composer didn't link any video. 😔</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}  
