<div class="container-fluid mt-3">

    {% if user.is_authenticated %}
        <div id="card-container" class="d-flex flex-wrap justify-content-center">
        
            {% for score in object_list %}
                {% if user.is_staff or user.is_superuser %}
                    <div class="card m-2 custom-card-shadow mb-5" style="width:400px">
                    <a class="btn btn-danger custom-card-shadow" id="remove-score-button" href="{% url 'sheetmusic:score_delete' score.pk %}">✕</a>
                {% else %}
                    <div class="card m-2 custom-card-shadow" style="width:400px">
                {% endif %}
                <img class="card-img-top" src="{{ score.cover.url }}" alt="{{ score.cover }}" style="width:100%">
                    <div class="card-body">
                        
                        <h4 class="card-title">{{ score.title }}</h4>
                        <p class="card-text">a {{ score.score_type }} by {{ score.arranger }} in {{ score.published_key }}.</p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'sheetmusic:detail' pk=score.pk %}" class="btn btn-primary">See score</a>
                        
                            {% if score in user_profile.liked_scores.all %}
                                <a class="like-btn" data-score-id="{{ score.pk }}" href="{% url 'sheetmusic:toggle_like' score_pk=score.pk %}">
                                    <i class="fa-solid fa-heart me-3 like-icon" style="font-size: 1.5rem; color: red"></i>
                                <div class="particle-container"></div>
                                </a>
                            {% else %}
                                <a class="like-btn" data-score-id="{{ score.pk }}"  href="{% url 'sheetmusic:toggle_like' score_pk=score.pk %}">
                                    <i class="fa-regular fa-heart me-3 like-icon" style="font-size: 1.5rem; color: grey"></i>
                                <div class="particle-container"></div>
                                </a>
                            {% endif %}
                        
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        
        </div>
        
        <br><br>
        
        {% if not user.is_superuser and recommended_score_list %}
            <div class="mt-5 d-flex bg-dark text-white rounded-2"><h2 class="ms-2">Recommended for you</h2></div>
            <div class="d-flex bg-light">
            
                            <!-- Sezione Raccomandati -->
                <div class="recommended-container d-flex overflow-x-auto">
            
                    {% for score in recommended_score_list %}
                        <div class="card m-2 custom-card-shadow" style="width:400px">
                        {% if user.is_staff or user.is_superuser %}
                            <a class="btn btn-danger custom-card-shadow" id="remove-score-button" href="{% url 'sheetmusic:score_delete' score.pk %}">✕</a>
                        {% endif %}
                        <img class="card-img-top" src="{{ score.cover.url }}" alt="{{ score.cover }}" style="width:100%">
                            <div class="card-body">
                                
                                <h4 class="card-title">{{ score.title }}</h4>
                                <p class="card-text">a {{ score.score_type }} by {{ score.arranger }} in {{ score.published_key }}.</p>
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'sheetmusic:detail' pk=score.pk %}" class="btn btn-primary">See score</a>
                                
                                    {% if score in user_profile.liked_scores.all %}
                                        <a class="like-btn" data-score-id="{{ score.pk }}" href="{% url 'sheetmusic:toggle_like' score_pk=score.pk %}">
                                            <i class="fa-solid fa-heart me-3 like-icon" style="font-size: 1.5rem; color: red"></i>
                                        <div class="particle-container"></div>
                                        </a>
                                    {% else %}
                                        <a class="like-btn" data-score-id="{{ score.pk }}"  href="{% url 'sheetmusic:toggle_like' score_pk=score.pk %}">
                                            <i class="fa-regular fa-heart me-3 like-icon" style="font-size: 1.5rem; color: grey"></i>
                                        <div class="particle-container"></div>
                                        </a>
                                    {% endif %}
                                
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const likeButtons = document.querySelectorAll('.like-btn');

                likeButtons.forEach(button => {
                    button.addEventListener('click', function (event) {
                        event.preventDefault();

                        const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                        const scoreId = this.getAttribute('data-score-id');
                        const likeIcon = this.querySelector('.like-icon');
                        const particleContainer = this.querySelector('.particle-container');

                        createParticles(particleContainer);

                        const xhttp = new XMLHttpRequest();
                        xhttp.open('POST', `/sheetmusic/toggle-like/${scoreId}/`, true);
                        xhttp.setRequestHeader('X-CSRFToken', csrftoken);
                        xhttp.onload = function () {
                            if (xhttp.status === 200) {
                                const response = JSON.parse(xhttp.responseText);
                                if (response.liked) {
                                    likeIcon.classList.remove('fa-regular');
                                    likeIcon.classList.add('fa-solid');
                                    likeIcon.style.color = 'red';

                                } else {
                                    likeIcon.classList.remove('fa-solid');
                                    likeIcon.classList.add('fa-regular');
                                    likeIcon.style.color = 'grey';
                                }
                            } else {
                                console.error('Errore durante la richiesta');
                            }
                        };
                    xhttp.send();
                    });
                });
                function createParticles(container) {
                    for (let i = 0; i < 10; i++) {
                        const particle = document.createElement('div');
                        particle.classList.add('particle');

                        // Genera una posizione casuale per l'esplosione
                        particle.style.setProperty('--x', (Math.random() - 0.5) * 2);  // Valori tra -1 e 1
                        particle.style.setProperty('--y', (Math.random() - 0.5) * 2);

                        container.appendChild(particle);

                        // Rimuove le particelle dopo l'animazione
                        particle.addEventListener('animationend', () => particle.remove());
                    }
                }
            });
        </script>
    {% else %}
        
        <div id="card-container" class="d-flex flex-wrap justify-content-center">
        
            {% for score in object_list %}
                <div class="card m-2 custom-card-shadow" style="width:400px">
                <img class="card-img-top" src="{{ score.cover.url }}" alt="{{ score.cover }}" style="width:100%">
                    <div class="card-body">
                        
                        <h4 class="card-title">{{ score.title }}</h4>
                        <p class="card-text">a {{ score.score_type }} by {{ score.arranger }} in {{ score.published_key }}.</p>
                        
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'sheetmusic:detail' pk=score.pk %}" class="btn btn-primary">See score</a>
                            <a class="" href="{% url 'login' %}?next=/sheetmusic/like scores/">
                                <i class="fa-regular fa-heart me-3" style="font-size: 1.5rem; color: grey"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        
        </div>

    {% endif %}

</div><br>
